* {
  border: none;
  border-radius: 12px;
  font-family: "Hack Nerd Font";
  font-weight: bold;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  border: none;
  background: rgba(255, 155, 155, 0.15);
  color: #cdd6f4;
  padding-right: 6px;
  padding-left: 6px;
}

tooltip {
  background: rgba(7, 7, 7, 0.6);
  border-width: 1px;
  border-style: solid;
  border-color: #a0bcf8;
  padding: 5px;
}

#workspaces button {
  color: rgb(25, 25, 25);
  padding-right: 6px;
  padding-left: 6px;
  margin-left: 3px;
  transition:
    background 0.3s linear,
    color 0.3s linear;
}
#workspaces button:last-child {
  margin-right: 3px;
}

#workspaces button.active {
  color: rgb(75, 75, 75);
}

#workspaces button.focused {
  color: rgb(75, 75, 75);
  background: #fff700;
}

#workspaces button.urgent {
  color: rgb(75, 75, 75);
  background: #fff700;
}

#workspaces button:hover {
  background: #fff700;
  color: rgb(75, 75, 75);
}

#window,
#clock,
#battery,
#pulseaudio,
#pulseaudio.microphone,
#network,
#bluetooth,
#custom-notifications,
#custom-updates,
#custom-player,
#custom-shutdown,
#workspaces,
#tray,
#memory,
#disk,
#backlight,
#backlight {
  opacity: 1;
  margin: 6px;
  transition:
    background 0.15s linear,
    color 0.15s linear;
}

#tray {
  background: rgba(128, 164, 244, 0.6);
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 6px;
}

#workspaces {
  background: rgba(255, 247, 130, 0.6);
  border-radius: 6px;
}

#clock {
  color: #0f1729;
  background: rgba(172, 251, 243, 0.6);
  border-radius: 6px;
  padding-left: 6px;
  padding-right: 6px;
  margin-right: 3px;
  margin-left: 3px;
}

#network {
  color: #dee4f3;
  background: rgba(118, 0, 214, 0.3);
  padding-left: 6px;
  padding-right: 6px;
}

#custom-notifications {
  color: #0f1729;
  background: rgba(245, 221, 97, 0.6);
  border-radius: 6px 12px 12px 6px;
  padding-left: 9px;
  padding-right: 15px;
}

#custom-updates {
  color: #a0bcf8;
  background: rgba(244, 83, 138, 0.6);
  border-radius: 12px 6px 6px 12px;
  padding-left: 9px;
  padding-right: 9px;
}

#custom-player {
  color: #a0bcf8;
  background: rgba(255, 13, 66, 0.3);
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 3px;
  margin-right: 3px;
}

#custom-shutdown {
  color: #dee4f3;
  background: rgba(0, 135, 255, 0.6);
  padding-left: 9px;
  padding-right: 13px;
  margin-left: 3px;
  margin-right: 3px;
}
#custom-shutdown:hover {
  background: #80a4f4;
  color: #161f33;
}

#memory {
  color: #161f33;
  background: rgba(151, 234, 255, 0.6);
  border-radius: 7px 7px 7px 7px;
  margin-left: 6px;
}

#disk {
  color: #400082;
  border-radius: 7px 7px 7px 7px;
  margin-left: 5px;
}

#disk.disk2 {
  background: rgba(148, 128, 238, 0.6);
  color: #9df8ef;
  border-radius: 7px 7px 7px 7px;
  margin-left: 6px;
  padding-right: 6px;
}

#bluetooth {
  color: #9df8ef;
  background: rgba(148, 128, 238, 0.3);
  padding-left: 6px;
  padding-right: 6px;
  margin-right: 5px;
}

#pulseaudio {
  color: #f3aaff;
  background: rgba(68, 0, 255, 0.3);
  border-radius: 12px 6px 6px 12px;
  margin-right: 3px;
  padding-left: 6px;
  padding-right: 3px;
}

#pulseaudio.microphone {
  color: #abccff;
  background: rgba(45, 75, 172, 0.3);
  border-radius: 6px 12px 12px 6px;
  margin-left: 0px;
  padding-left: 3px;
  padding-right: 6px;
}

#battery {
  color: #a6e3a1;
  border-radius: 7px 7px 7px 7px;
  margin-right: 5px;
  margin-left: 5px;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #eeeeee;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
