* {
  border: none;
  border-radius: 12px;
  font-family: Roboto, "Hack Nerd Font";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  /* border: 1px solid rgba(255, 200, 200, 0.5); */
  /* background: rgba(255, 155, 155, 0.15);*/
  background-color: transparent;
  color: #cdd6f4;
  padding-right: 6px;
  padding-left: 6px;
  transition: background-color 0.5s;
}

tooltip {
  background: rgba(7, 7, 7, 0.6);
  border-width: 1px;
  border-style: solid;
  border-color: #a0bcf8;
  padding: 5px;
}

#workspaces button {
  color: rgb(25, 25, 25);
  background-color: rgba(120, 145, 255, 0.75);
  background-image: linear-gradient(
    -72deg,
    #4a7bff 20%,
    #56bbf1 50%,
    #00dfa2 90%
  );
  padding: 0px 12px;
  margin-left: 6px;
  border-radius: 20px;
  transition: all 0.3s linear;
  color: #ffffff;
}
#workspaces button:hover {
  /* border-bottom: 3px solid #0acaff; */
  background: #afafff;
  color: black;
  background-image: linear-gradient(
    -15deg,
    #4a7bff 20%,
    #56bbf1 50%,
    #00dfa2 90%
  );
}

#workspaces button:last-child {
  margin-right: 6px;
}

#workspaces button.active {
  color: rgb(75, 75, 75);
  background-color: #9c6fff;
  background-image: linear-gradient(
    -15deg,
    #00ff8d 20%,
    #46fccd 70%,
    #56bbf1 96%
  );
}
#workspaces button.active:hover {
  color: #ffffff;
  background-color: #ab9eff;
  background-image: linear-gradient(
    -15deg,
    #00ff8d 10%,
    #46fccd 30%,
    #56bbf1 96%
  );
}

#workspaces button.focused {
  color: rgb(75, 75, 75);
  border: 2px solid #f2fa5a;
}

#workspaces button.urgent {
  color: rgb(75, 75, 75);
  border: 2px solid #faa300;
}

#window,
#clock,
#battery,
#pulseaudio,
#pulseaudio.microphone,
#network,
#bluetooth,
#custom-notifications,
#custom-updates,
#custom-player,
#custom-shutdown,
#workspaces,
#tray,
#memory,
#disk,
#backlight,
#backlight {
  opacity: 1;
  margin: 6px 4px;
  padding: 0px 4px;
  transition: all 0.15s ease-out;
}

#tray {
  background-image: linear-gradient(
    120deg,
    #4a6bff 10%,
    #56b9f1 70%,
    #faa300 90%
  );
  background-color: rgba(128, 164, 244, 0.6);
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 20px;
}
#cava {
  padding: 3px 3px;
  margin: 6px 0px;
  background-color: rgba(75, 75, 75, 0.45);
  border-radius: 20px;
  background-image: linear-gradient(
    150deg,
    #4a6bff 10%,
    #46fccd 50%,
    #e0aaff 90%
  );
}

#window,
#workspaces {
  border-radius: 20px;
  margin: 6px 0px;
}
#window {
  background-color: #8ec5fc;
  background-image: linear-gradient(
    -45deg,
    #4aabff 10%,
    #3012ab 40%,
    #213099 90%
  );
  color: #aeceff;
  font-size: 14px;
  border-radius: 20px;
  margin-right: 5px;
  padding: 0px 12px;
}

#clock {
  background-color: #fa8bff;
  background-image: linear-gradient(
    -12deg,
    #faa300 5%,
    #fa8bff 52%,
    #2bd2ff 90%
  );

  color: #0f1729;
  border-radius: 20px;
  padding: 0px 12px;
  margin: 6px 3px;
}

#network {
  color: #dee4f3;
  background: rgba(118, 0, 214, 0.3);
  padding-left: 6px;
  padding-right: 6px;
}

#custom-notifications {
  color: #0f1729;
  background-color: rgba(245, 221, 97, 0.6);
  background-image: linear-gradient(
    -75deg,
    #fac29a 5%,
    #acfbf3 52%,
    #80a4f4 90%
  );
  border-radius: 6px 20px 20px 6px;
  padding-right: 15px;
  padding-left: 9px;
}

#custom-updates {
  color: #161f33;
  background-color: rgba(244, 83, 138, 0.6);
  background-image: linear-gradient(
    24deg,
    #ff4949 10%,
    #faa300 52%,
    #f2fa5a 90%
  );
  border-radius: 20px 6px 6px 20px;
  padding-left: 9px;
  padding-right: 6px;
}

#language {
  background-color: #fa8bff;
  background-image: linear-gradient(
    -90deg,
    #56bbf1 10%,
    #c2ffd9 52%,
    #97fff4 90%
  );
  color: black;
  min-width: 16px;
  padding: 0px 9px;
  margin: 6px 3px;
}

#custom-player {
  color: black;
  background-color: rgba(255, 13, 66, 0.3);
  background-image: linear-gradient(
    15deg,
    #ffa9cc 0%,
    #ff66cf 52%,
    #ff1260 90%
  );
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 3px;
  margin-right: 3px;
}

#custom-shutdown {
  background-image: linear-gradient(
    -6deg,
    #faa300 5%,
    #fa8bff 52%,
    #2bd2ff 90%
  );
  color: #161f33;
  background-color: rgba(0, 135, 255, 0.6);
  border-radius: 20px;
  padding-left: 9px;
  padding-right: 13px;
  margin-left: 3px;
  margin-right: 12px;
}
#custom-shutdown:hover {
  background-image: linear-gradient(
    -6deg,
    #faa300 60%,
    #fa8bff 80%,
    #2bd2ff 90%
  );
  background-color: #80a4f4;
  color: #161f33;
}
#custom-launcher {
  background-color: #fa8bff;
  background-image: linear-gradient(
    -120deg,
    #4a7bff 40%,
    #7572f4 60%,
    #fff3a3 90%
  );
  color: #161f33;
  font-size: 18px;
  border-radius: 20px;
  margin: 6px 6px;
  margin-left: 12px;
  padding-left: 8px;
  padding-right: 3px;
}
#custom-clipboard {
  background-color: #fa8bff;
  background-image: linear-gradient(
    -21deg,
    #faa300 12%,
    #fa8bff 20%,
    #2bd2ff 90%
  );
  color: black;
  margin: 6px 3px;
  padding: 0px 6px;
}

#memory {
  color: #161f33;
  background: rgba(151, 234, 255, 0.6);
  border-radius: 20px;
  margin-left: 6px;
  background-image: linear-gradient(
    -12deg,
    #faa300 20%,
    #fa8bff 40%,
    #2bd2ff 90%
  );
}

#disk.diskroot {
  color: #400082;
  border-radius: 20px;
  margin-left: 5px;
}

#disk {
  background-image: linear-gradient(
    -12deg,
    #faa300 15%,
    #fa8bff 50%,
    #2bd2ff 90%
  );
  color: #161f33;
  border-radius: 20px;
  margin-left: 6px;
  padding-right: 6px;
}

#bluetooth {
  color: #9df8ef;
  background-image: linear-gradient(
    -12deg,
    #faa300 15%,
    #fa8bff 50%,
    #2bd2ff 90%
  );
  padding-left: 6px;
  padding-right: 6px;
  margin-right: 5px;
}

#pulseaudio {
  color: #161f33;
  background-image: linear-gradient(
    -81deg,
    #00ff8d 20%,
    #46fccd 50%,
    #56bbf1 96%
  );
  border-radius: 20px 6px 6px 20px;
  margin-right: 3px;
  padding-left: 6px;
  padding-right: 3px;
}

#pulseaudio.microphone {
  color: #161f33;
  background-image: linear-gradient(
    102deg,
    #00ff8d 20%,
    #46fccd 40%,
    #56bbf1 96%
  );
  border-radius: 6px 20px 20px 6px;
  margin-left: 0px;
  padding-left: 3px;
  padding-right: 6px;
}

#battery {
  color: #a6e3a1;
  border-radius: 7px 7px 7px 7px;
  margin-right: 5px;
  margin-left: 5px;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #eeeeee;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
